[Base]
url=https://github.com/GridTools/gt4py.git
branch=master
final=develop
upstream=git@github.com:VulcanClimateModeling/gt4py.git

[GridTools Stage Extents]
# Necessary hack for now, revisit removing this later
url=https://github.com/eddie-c-davis/gt4py.git
branch=gt_stage_extents

[Temp Storage Reduce]
# In review
url=https://github.com/eddie-c-davis/gt4py.git
branch=temp-storage-reduce

[Update Skip Passes]
# FV3Core Only
url=https://github.com/eddie-c-davis/gt4py.git
branch=update-skip-passes

[Variable Offsets]
# Open PR
url=https://github.com/eddie-c-davis/gt4py.git
branch=variable-offsets

[While Loops]
# Open PR
url=https://github.com/eddie-c-davis/gt4py.git
branch=while-loops-gtc

[Device Sync]
# Open PR
url=https://github.com/eddie-c-davis/gt4py.git
branch=device-sync-gtc

[Deferred Caching]
# Open PR
url=https://github.com/eddie-c-davis/gt4py.git
branch=deferred-cache

[Horizontal Regions GTC]
# In review
url=https://github.com/jdahm/gt4py.git
branch=horizontal-regions-gtc

[Indirect Higher Dims]
# Open PR
url=https://github.com/twicki/gt4py.git
branch=indirect_higher_dims
